body {
  background-color: #e7d9d5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
}

.navContainer {
  display: flex;
  margin-block: 10px;
  margin-inline: 10px;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

nav > ul {
  background-color: #fef6e8;
  padding: 20px;
  width: auto;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: #4d1e0b;
}

li {
  margin-inline: 20px;
  list-style: none;
}
#recipeContainer {
  width: 250px;
  height: 300px;
  display: flex;
  margin-inline: 20px;
}

main > div > img {
  margin-inline: 10px;
  border-radius: 10px;
  border: 2px solid black;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
